label {
  width: 100px;
  margin-left: 5px;
  
}

input {
  width: 250px;
  margin-left: 5px;
}


div.first
{
    margin-top: 15px;
}

button
{
    width: 210px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: blue;
}